################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Atlas/Debug
/Atlas/Release
/Atlas/x64/Debug
/Basal/Debug
/Basal/Release
/Basal/x64/Debug
/Coding/Debug
/Coding/Release
/CSharp/PdfSharp/Parser/bin
/Marker/.vs/Marker
/packages
/Popunder/.vs/Popunder/v16
/Popunder/packages
/SysTools/depends
/Tiff/.vs/Tiff
/Atlas/Atlas.aps
/Coding/Coding.aps
/CSharp/PdfSharp/Parser/obj
/Database/Debug
/Database/Release
/Database/x64/Debug
/CSharp/PdfSharp/Reader/bin
/CSharp/PdfSharp/Reader/obj
/Database/Database.aps
/Dataview/Debug
/Dataview/Release
/Dataview/x64/Debug
*.aps
/Debug
/Filter/Debug
/Filter/Release
/Filter/x64/Debug
/Frame/Debug
/Frame/Release
/Framework/Debug
/Framework/Release
/Framework/x64/Debug
/Geometry/Debug
/Geometry/Release
/GridCtrl/Debug
/GridCtrl/Release
/GridCtrl/x64/Debug
/Hyperlink/Debug
/Hyperlink/Release
/Hyperlink/x64/Debug
/Image/Debug
/Image/Release
/Image/x64/Debug
/Information/Debug
/Information/Release
/Layer/Debug
/Layer/Release
/Logger/Debug
/Logger/Release
/Logger/x64/Debug
/Mapper/Debug
/Mapper/Release
*.vdproj
/Marker/Debug
/Marker/Release
/Navigate/Debug
/Navigate/Release
/Plugins/Sharper/obj/Debug
/Plugins/Sharper/obj/Release
/Plugins/Sharper/obj/x86
/Plugins/Tiler/Debug
/Plugins/Tiler/Release
/Plugins/Tiler/x64/Debug
/Popunder/Debug
/Popunder/Release
/Port/Debug
/Port/Release
/Projection/Debug
/Projection/Release
/Projection/x64/Debug
/Public/Debug
/Public/Release
/Public/x64/Debug
/Rectify/Debug
/Rectify/Release
/Release
/SharpPlusProxy/Debug
/SharpPlusProxy/Release
/SharpPlusProxy/x64/Debug
/Smcom/Debug
/Smcom/Release
/Socket/Debug
/Socket/Release
/Style/Debug
/Style/Release
/Thematics/Debug
/Thematics/Release
/Tiff/Debug
/Tiff/Release
/Tool/Debug
/Tool/Release
/Topology/Debug
/Topology/Release
/Viewer/Debug
/Viewer/Release
/x64/Debug
/Plugins/JavascriptMinifier/Debug
/Plugins/JavascriptMinifier/Release
/Plugins/JavascriptMinifier/x64/Debug
/Plugins/Debug/Plugins
/CSharp/PdfSharp/Reader/Reader.csproj.user
/CSharp/PdfSharp/Reader/Reader.csproj.user
/Mapper/Mapper.vcxproj.user
*.user
/Mapper/.vs
